.top{
     color:purple ;
     font-family:Fantasy;
     text-align:center ;
}
.heading{
     text-align:center ;
}
body{
     font-family:Fantasy;
     
}
.section1 {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#header {
    background-image: url("https://www.sololearn.com/Uploads/header.jpg");
    background-size: cover;
}

